@font-face {
  font-family: 'icomoon-the7-portfolio-32x32';
  src:  url('fonts/icomoon-the7-portfolio-32x32.eot?1gry5w');
  src:  url('fonts/icomoon-the7-portfolio-32x32.eot?1gry5w#iefix') format('embedded-opentype'),
    url('fonts/icomoon-the7-portfolio-32x32.ttf?1gry5w') format('truetype'),
    url('fonts/icomoon-the7-portfolio-32x32.woff?1gry5w') format('woff'),
    url('fonts/icomoon-the7-portfolio-32x32.svg?1gry5w#icomoon-the7-portfolio-32x32') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-portfolio-"], [class*=" icon-portfolio-"],
.project-links-container [class^="icon-portfolio-"],
.project-links-container [class*=" icon-portfolio-"]  {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-the7-portfolio-32x32' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-portfolio-"]:before,
[class*=" icon-portfolio-"]:before {
  font-family: inherit !important;
  margin: 0 !important;
}

.icon-portfolio-p211:before {
  content: "\e900";
}
.icon-portfolio-p212:before {
  content: "\e901";
}
.icon-portfolio-p208:before {
  content: "\e902";
}
.icon-portfolio-p204:before {
  content: "\e909";
}
.icon-portfolio-p201:before {
  content: "\e90c";
}
.icon-portfolio-p206:before {
  content: "\e90e";
}
.icon-portfolio-p203:before {
  content: "\e90b";
}
.icon-portfolio-p205:before {
  content: "\e90d";
}
